<?php $carriers = $block->getShippingMethods(); ?>
<div class="admin__data-grid-wrap">
    <table class="data-grid data-grid-draggable">
        <tr>
            <th class="data-grid-multicheck-cell"><?php /* @escapeNotVerified */
                echo __('Shipping Methods'); ?></th>
            <th class="data-grid-multicheck-cell"><?php /* @escapeNotVerified */
                echo __('code'); ?></th>
            <th class="data-grid-multicheck-cell"><?php /* @escapeNotVerified */
                echo __('label'); ?></th>
        </tr>


        <?php foreach ($carriers as $carrier): ?>
            <?php foreach ($carrier['value'] as $child): ?>
                <tr class="data-row">
                    <td><?php echo $carrier['label'] ?></td>
                    <td><?php echo $child['value'] ?></td>
                    <td><?php echo $child['label']; ?></td>
                </tr>
            <?php endforeach; ?>
        <?php endforeach; ?>
    </table>
</div>
<br/>

<?php
$paymentMethods = $block->getAllPaymentMethods();
?>
<div class="admin__data-grid-wrap">
    <table class="data-grid data-grid-draggable">
        <tr>
            <th class="data-grid-multicheck-cell"><?php echo __('Payment Methods'); ?></th>
            <th class="data-grid-multicheck-cell"><?php echo __('Code'); ?></th>
            <th class="data-grid-multicheck-cell"><?php echo __('Group'); ?></th>
            <th class="data-grid-multicheck-cell"><?php echo __('Order status'); ?></th>
        </tr>


        <?php foreach ($paymentMethods as $payment_code => $paymentMethod): ?>

            <tr class="data-row">
                <?php
                $row = ['code' => $payment_code ];
                foreach ($paymentMethod as $col => $item) {
                    switch ($col) {
                        case 'title':
                            $row['title'] = $item;
                            break;
                        case 'order_status':
                            $row['order_status'] = $item;
                            break;
                        case 'group':
                            $row['group'] = $item;
                            break;
                    }
                } ?>
                <td><?php echo (isset($row['title']))?$row['title']:""; ?></td>
                <td><?php echo (isset($row['code']))?$row['code']:""; ?></td>
                <td><?php echo (isset($row['group']))?$row['group']:""; ?></td>
                <td><?php echo (isset($row['order_status']))?$row['order_status']:""; ?></td>
            </tr>
        <?php endforeach; ?>
    </table>
</div>
